#include "resource.h"

IDB_PNG1 PNG "..\\resources\\icon.png"
IDB_PNG52 PNG "..\\resources\\icon_hover.png"
IDB_PNG2 PNG "..\\resources\\gold_coin.png"
IDB_PNG3 PNG "..\\resources\\silver_coin.png"
IDB_PNG4 PNG "..\\resources\\copper_coin.png"
IDB_PNG5 PNG "..\\resources\\nourishment_food.png"
IDB_PNG6 PNG "..\\resources\\nourishment_utility.png"
IDB_PNG7  PNG "..\\resources\\prof_guardian.png"
IDB_PNG8  PNG "..\\resources\\prof_revenant.png"
IDB_PNG9  PNG "..\\resources\\prof_warrior.png"
IDB_PNG10 PNG "..\\resources\\prof_engineer.png"
IDB_PNG11 PNG "..\\resources\\prof_ranger.png"
IDB_PNG12 PNG "..\\resources\\prof_thief.png"
IDB_PNG13 PNG "..\\resources\\prof_elementalist.png"
IDB_PNG14 PNG "..\\resources\\prof_mesmer.png"
IDB_PNG15 PNG "..\\resources\\prof_necromancer.png"
IDB_PNG16 PNG "..\\resources\\elite_dragonhunter.png"
IDB_PNG17 PNG "..\\resources\\elite_firebrand.png"
IDB_PNG18 PNG "..\\resources\\elite_willbender.png"
IDB_PNG19 PNG "..\\resources\\elite_herald.png"
IDB_PNG20 PNG "..\\resources\\elite_renegade.png"
IDB_PNG21 PNG "..\\resources\\elite_vindicator.png"
IDB_PNG22 PNG "..\\resources\\elite_berserker.png"
IDB_PNG23 PNG "..\\resources\\elite_spellbreaker.png"
IDB_PNG24 PNG "..\\resources\\elite_bladesworn.png"
IDB_PNG25 PNG "..\\resources\\elite_scrapper.png"
IDB_PNG26 PNG "..\\resources\\elite_holosmith.png"
IDB_PNG27 PNG "..\\resources\\elite_mechanist.png"
IDB_PNG28 PNG "..\\resources\\elite_druid.png"
IDB_PNG29 PNG "..\\resources\\elite_soulbeast.png"
IDB_PNG30 PNG "..\\resources\\elite_untamed.png"
IDB_PNG31 PNG "..\\resources\\elite_daredevil.png"
IDB_PNG32 PNG "..\\resources\\elite_deadeye.png"
IDB_PNG33 PNG "..\\resources\\elite_specter.png"
IDB_PNG34 PNG "..\\resources\\elite_tempest.png"
IDB_PNG35 PNG "..\\resources\\elite_weaver.png"
IDB_PNG36 PNG "..\\resources\\elite_catalyst.png"
IDB_PNG37 PNG "..\\resources\\elite_chronomancer.png"
IDB_PNG38 PNG "..\\resources\\elite_mirage.png"
IDB_PNG39 PNG "..\\resources\\elite_virtuoso.png"
IDB_PNG40 PNG "..\\resources\\elite_reaper.png"
IDB_PNG41 PNG "..\\resources\\elite_scourge.png"
IDB_PNG42 PNG "..\\resources\\elite_harbinger.png"
IDB_PNG43 PNG "..\\resources\\elite_amalgam.png"
IDB_PNG44 PNG "..\\resources\\elite_antiquary.png"
IDB_PNG45 PNG "..\\resources\\elite_conduit.png"
IDB_PNG46 PNG "..\\resources\\elite_evoker.png"
IDB_PNG47 PNG "..\\resources\\elite_galeshot.png"
IDB_PNG48 PNG "..\\resources\\elite_luminary.png"
IDB_PNG49 PNG "..\\resources\\elite_paragon.png"
IDB_PNG50 PNG "..\\resources\\elite_ritualist.png"
IDB_PNG51 PNG "..\\resources\\elite_troubadour.png"
